.formStyle-pythagorean{
  max-width: 50rem;
  margin: 4rem auto 0;
}

.tableStyle-pythagorean{
  max-width: 60rem;
  margin: 4rem auto 0;
  border: 2px solid #e6e6e6;
}
.heading-pythagorean{
  text-align: center;
  margin: 1rem 0;
}
